/* Coolors Exported Palette - coolors.co/230007-d7cf07-d98324-a40606-5a0002 */

/* HSL */
$color1: hsla(348%, 100%, 7%, 1);
$color2: hsla(58%, 94%, 44%, 1);
$color3: hsla(31%, 72%, 50%, 1);
$color4: hsla(0%, 93%, 33%, 1);
$color5: hsla(359%, 100%, 18%, 1);

/* RGB */
$color1: rgba(35, 0, 7, 1);
$color2: rgba(215, 207, 7, 1);
$color3: rgba(217, 131, 36, 1);
$color4: rgba(164, 6, 6, 1);
$color5: rgba(90, 0, 2, 1);